*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: inter, Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #7c16dc;
  background-image: url(/images/maple-leaf-black-3840x2160-13098.jpg);
  object-fit: cover;
  object-position: center;
}

.wrapper,
.hero-sub {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.notes {
  width: 60%;
}

.hero {
  background-color: #5809a1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-sub {
  font-size: 3rem;
  padding: 70px 70px 70px 0;
  font-weight: bold;
}
